/* Define styles for the default root window element */
:root {
    --background-color-primary: #FFFFFF;
    --background-color-secondary: #FBFBFB;
    --text-primary-color: #1A1A1A;
}

/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
    --background-color-primary: #1A1A1A;
    --background-color-secondary: #111111;
    --text-primary-color: #FBFBFB;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: .5rem;
}

*::-webkit-scrollbar-track {
    background: $brown;
}

*::-webkit-scrollbar-thumb {
    background-color: $blue;
    border: none;
}